@model MyElearningProject.DAL.Entities.Student
@{
    ViewBag.Title = "UpdateStudent";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<h2>Öğrenci Güncelleme Sayfası</h2>

<form method="post">

    @Html.HiddenFor(x => x.StudentID, new { @class = "form-control" })
    <br />
    <label> Adı</label>
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    <br />
    <label>Soyad</label>
    @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
    <br />
    <label>Mail</label>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
    <br />
    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control" })
    <br />
    <br />
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>


