@model List<MyElearningProject.DAL.Entities.Testimonial>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-block">
                <h3>Eğitmen Listesi</h3>
                <br />
                <table class="table table-bordered">
                    <tr>
                        <th>#</th>
                        <th>Referans Adı</th>
                        <th>Referansın Bölümü</th>
                        <th>Referans Görsel  </th>
                        <th>Referans Yorumu  </th>
                        <th>Referans Durumu  </th>

                        <th>Sil</th>
                        <th>Güncelle</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.TestimonialID</td>
                            <td>@item.NameSurname</td>
                            <td>@item.Title</td>
                            <td>@item.ImageUrl</td>
                            <td>@item.Comment</td>
                            <td>@item.Status</td>
                            <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialID" class="btn btn-outline-danger">Sil</a></td>
                            <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialID" class="btn btn-outline-success">Güncelle</a></td>
                        </tr>
                    }
                </table>
                <a href="/Testimonial/AddTestimonial/" class="btn btn-outline-primary">Yeni Referans Girişi</a>

            </div>
        </div>
    </div>
</div>
