
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@Html.Action("PartialHead", "AdminLayout");

<body class="fix-header fix-sidebar card-no-border">


   
    <div id="main-wrapper">


        @Html.Action("PartialNavbar", "AdminLayout")

        @Html.Action("PartialSidebar", "AdminLayout")
        <div class="page-wrapper">
            <div class="container-fluid">


                @Html.Action("PartialPageRowTitle", "AdminLayout")
                @RenderBody()
            </div>
            <footer class="footer">
                © @DateTime.Now.Year Tüm hakları saklıdır.
            </footer>
            </div>
            @Html.Action("PartialScript", "AdminLayout")
        </div>
</body>

</html>

